@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", sans-serif, "IBM Plex Mono", monospace;
}

.header {
  max-height: 15vh;
  min-width: 100%;
  background-color: rgb(0, 0, 0);
  background-position: top center;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #8c52ff;
}

.backgroundImage_Frontpage {
  background-color: black;
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

nav img {
  width: 30%;
  height: 70%;
  object-fit: cover;
  position: absolute; /* Position the logo absolutely within the header */
  left: 1%; /* Adjust the left position of the logo as needed */
  top: 60%; /* Align the logo vertically at the middle of the header */
  transform: translateY(-50%); /* Center the logo vertically */
}

.navLinks {
  flex: 1;
  text-align: right;
}

.navLinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navLinks ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
/*"Balsamiq Sans", sans-serif */

.navLinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #8c52ff;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navLinks ul li:hover::after {
  width: 100%;
}

.textBox {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10vh 5%;
}

h1 {
  font-size: 3.5rem;
  color: aliceblue;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.textBox p {
  margin: 10px 0 40px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  line-height: 2.4rem;
}

.toggle {
  display: none;
}

@media (max-width: 750px) {
  .textBox h1 {
    font-size: 120%;
  }
  .textBox p {
    font-size: 95%;
    line-height: 3vh;
  }
  nav img {
    position: relative;
    min-height: 20px;
    min-width: 80px;
    height: 5%;
    top: 35px;
    left: 0%;
    object-fit: cover;
    width: 48%;
    transform: translateY(-50%);
  }
  .navLinks ul li {
    display: block;
  }

  .navLinks ul li a {
    font-size: 12px;
  }
  .navLinks ul {
    padding: 30px;
  }
  .navLinks {
    position: absolute;
    background-color: #8c52ff;
    height: 105vh;
    width: 170px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.2s;
  }

  .header {
    max-height: 12vh;
  }

  .container {
    width: 60px;
    height: 23px;
    position: relative;
    top: 1;
    left: 2;
    transform: translate(25%, 30%);
  }

  .containerOff {
    width: 120px;
    height: 23px;
    position: relative;
    top: 1;
    left: 2;
    transform: translate(-34%, 15%);
  }
  .toggle {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }

  .slider {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 4s;
    border-radius: 20px;
    background-color: black;
  }

  .sliderOff {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 20px;
    background-color: #8c52ff;
  }

  .switch input {
    display: none;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 25px;
    right: 5px;
    top: 3.5px;
    background-color: aliceblue;
    transition-delay: 20s;
    transition: 0.4s;
    border-radius: 50px;
  }
}
.sliderOff:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 25px;
  left: 5px;
  top: 3.5px;
  background-color: aliceblue;
  transition-delay: 20s;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .sliderOff::before {
  transform: translateX(26px);

  transform: translateX(-2px);
}

input:checked + .slider::before {
  transform: translateX(-26px);

  transform: translateX(2px);
}

/*-------------------------------------------AboutMe---------------------------------------------------*/
.backgroundImage_Aboutpage {
  background-color: rgb(0, 0, 0);
  border-top: 2px solid #23947b;
  width: 100%;
  min-height: 100vh;
}
.AboutMe {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10vh 5%;
}

h1 {
  font-size: 62px;
  font-weight: 600;
  color: aliceblue;
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.childhood {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  background: #23947b;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
.schooling p {
  font-size: 1rem;
}

.childhood:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
@media (max-width: 750px) {
  .row {
    flex-direction: column;
    flex-basis: calc(100% - 20px);
  }
}
/*----------------------------------------------Projects------------------------------------------------------------*/

.backgroundImage_Projectspage {
  background-color: black;
  min-height: 100vh;
  border-top: 2px solid #819423;
}
.Projects {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  margin-top: 1%;
}

.videoSection {
  display: inline;
  justify-content: space-between;
}

video {
  margin-top: 5%;
  width: 40%;
  height: 300px;
  border-radius: 12px;
  margin-right: 12px;
}
video:hover {
  height: 360px;
}

#poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 750px) {
  .videoSection {
    flex-direction: row;
  }
}
/*-------------------------------------------Academics-------------------------------------------------------------------*/

.Academics {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  background-size: contain;
  color: white;
}

.BGfootprint {
  background-image: url(images/FOOTBG.png);
  min-height: 100vh;
  border-top: 2px solid yellow;
  background-color: black;
}

.Academic_row {
  display: flex;
  flex-wrap: wrap; /* Ensure flex items wrap to the next line if they exceed the container width */
  justify-content: center; /* Center the flex items horizontally */
}

.schooling {
  flex-basis: calc(
    50% - 20px
  ); /* Set the flex basis to 50% of the container width minus the margin */
  margin: 10px; /* Add margin between the flex items */
  text-align: center;
  background: #333131;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px; /* Add padding to the boxes */
}

.schooling h2 {
  font-size: 1.5rem; /* Adjust the font size for better readability */
  margin-bottom: 10px; /* Add margin below the heading */
}

.schooling h3 {
  font-size: 1.2rem; /* Adjust the font size for better readability */
  margin-bottom: 10px; /* Add margin below the subheading */
}

.schooling p {
  font-size: 1rem; /* Adjust the font size for better readability */
}
@media (max-width: 750px) {
  .schooling {
    flex-basis: calc(
      100% - 20px
    ); /* Set the flex basis to 100% of the container width minus the margin */
  }
}

/*-------------------------------------------Hobbys-------------------------------------------------------------------*/

.Hobbys {
  width: 100%;
  min-height: 120vh;
  margin: auto;
  padding-top: 7px;
  border-top: 2px solid pink;
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.image {
  width: 60%;
  height: 70%;
  padding-top: 7px;
}
.Hobbys .rowHobbys {
  margin-right: 5px;
  margin-bottom: 15%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10vh 5%;
}

.Hobbys .rowHobbys .read,
.Hobbys .rowHobbys .sing,
.Hobbys .rowHobbys .draw,
.Hobbys .rowHobbys .code {
  padding: 2rem;
}

.read {
  padding-block: 5rem;
  margin-inline: auto;
}
.sing {
  padding-block: 5rem;
  margin-inline: auto;
}

.draw {
  padding-block: 5rem;
  margin-inline: auto;
}

.code {
  padding-block: 5rem;
  margin-inline: auto;
}

/* Adjusted CSS for the images on the Hobbies page */
.image {
  width: 100%; /* Set the width of the image to 100% of its container */
  height: auto; /* Allow the height to adjust proportionally based on the width */
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  max-height: 100%; /* Ensure the image does not exceed the height of its container */
  object-fit: cover; /* Specify how the image should be resized to cover the container */
}
/* For larger screens, make the images fit within 100vh */
@media (min-width: 751px) {
  .rowHobbys .image {
    height: 20vh; /* Set the height of the image container to 100vh */
    max-width: 50%; /* Ensure the image does not exceed the width of its container */
    object-fit: cover; /* Specify how the image should be resized to cover the container */
  }
}

@media (max-width: 750px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
}
